{% extends "model-page.html" %}

{% block title %}
Alterar Vendedor
{% endblock %}

{% block content %}
<h3>Alterar Seguinte Vendedor:</h3><br>
{% for vendedor in vendedores %}
    <h4>CPF do Vendedor a Ser Alterado: {{vendedor.cpf_vendedor}}</h4><br>
    <form action="submit" method="POST"> {% csrf_token %}
        <label>Nome do Vendedor: <input type="text" name="nome_vendedor" value="{{vendedor.nome_vendedor}}"></label><br><br>
        <label>CPF do Vendedor: <input type="number" name="cpf_vendedor" value="{{vendedor.cpf_vendedor}}"></label><br><br>
        <label>Salário Bruto: <input type="number"  step=".01" name="salario_bruto" value="{{vendedor.salario_bruto}}"></label><br><br>
        <label>Salário Líquido: <input type="number" step=".01" name="salario_liquido" value="{{vendedor.salario_liquido}}"></label><br><br>
        <label>Percentual Comissão: <input type="number" step=".01" name="percentual_comissao" value="{{vendedor.percentual_comissao}}"></label><br><br>
        <label>Quantidade de Vendas: <input type="number" name="quantidade_vendas" value="{{vendedor.quantidade_vendas}}"></label><br><br>
        <button class="btn btn-primary" type="submit">Confirma</button>
    </form>    
{% endfor %}

{% if not vendedores %}
    <h3>Nenhum vendedor encontrado!</h3>
{% endif %}

<a href="/alterar-vendedor"><button class="btn btn-primary" type="button">Cancelar</button></a>
{% endblock %}