{{% extends "model-page.html" %}

{% block title %}
Consultar Venda
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="form-group">
        <a href="/administrar-venda"><button class="btn btn-primary"><<</button></a>
    </div>
</div>

<div>
    <form action="submit" method="POST"> {% csrf_token %}
        <label>Número Venda: <input type="number" name="num_venda"></label><br><br>
        <button class="btn btn-primary" type="submit">Confirma</button>
    </form>
</div>
{% endblock %}