{% extends "model-page.html" %}

{% block title %}
Registrar Cliente
{% endblock %}


{% block content %}

<form>
    <div class="container-fluid">
        <div class="form-group">
            <a href="/administrar-cliente"><button class="btn btn-primary"><<</button></a>
        </div>
    </div>
</form>

<form action="submit" method="POST"> {% csrf_token %}
    <div class="container-fluid">  
        <div class="form-group" style="text-align:center">
           <h3> Registrar novo Cliente </h3>
        </div>
        <div class="form-group">
            <label><b>Nome do Cliente: </b></label>
            <input type="text" class="form-control" name="nome_cliente" placeholder="Insira o nome do Cliente">
        </div>
        
        <div class="form-group">
            <label><b>CPF do Cliente:: </b></label>
            <input type="number" class="form-control" name="cpf_cliente" placeholder="Insira o CPF do Cliente">
        </div>
        <div class="form-group">
            <label><b>Email: </b></label>
            <input type="text" class="form-control" name="email" placeholder="Insira o email do Cliente">
        </div>

        <div class="form-group">
            <label><b>Telefone: </b></label>
            <input type="number" class="form-control" name="telefone" placeholder="Insira o número de telefone do Cliente">
        </div>

        <button type="submit" class="btn btn-primary">Confirma</button>
    </div>
  </form>

  {% endblock %}